@import "../variables";

.header {
  @media (max-width: 550px) {
    padding: 10px 0;
  }

  border-bottom: 1px solid $gray-line;
  padding: 40px 0;

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  @media (max-width: 550px) {
    .header__logo {
      align-items: center;
      h1 {
        margin: auto 0;
      }
      p {
        display: none;
      }
    }
    .header__cart {
      .button {
        max-width: 60px;
        min-width: 50px;
        height: 50px;
        padding: 0;
        svg {
          margin: 0;
        }
      }
      a {
        justify-content: center;
        span,
        div {
          display: none;
        }
      }
    }
  }
  &__logo {
    display: flex;

    img {
      margin-right: 15px;
    }

    h1 {
      color: #181818;
      font-size: 24px;
      letter-spacing: 1%;
      text-transform: uppercase;
      font-weight: 800;
    }

    p {
      color: #7b7b7b;
    }
  }
}
